name: "gophermart"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Compose
        run: |
          curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      - name: Set up services using Docker Compose
        run: |
          # Start services
          docker-compose -f ./deployment/docker-compose-github.yml up -d

      - name: Download autotests binaries
        uses: robinraju/release-downloader@v1.11
        with:
          repository: Yandex-Practicum/go-autotests
          latest: true
          fileName: "*"
          out-file-path: .tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup autotest binary
        run: |
          chmod -R +x $GITHUB_WORKSPACE/.tools
          mv $GITHUB_WORKSPACE/.tools/gophermarttest /usr/local/bin/gophermarttest
          mv $GITHUB_WORKSPACE/.tools/random /usr/local/bin/random

      - name: Build app
        run: make build

      - name: Prepare binaries
        run: |
          (cd cmd/gophermart && go build -buildvcs=false -o gophermart)
          (cd cmd/accrual && chmod +x accrual_linux_amd64)

      - name: Run TEST
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: praktikum
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          KAFKA: localhost:9092
          REDIS: localhost:6379
          DATABASE_URI: postgres://postgres:yourpassword@localhost:5432/praktikum?sslmode=disable
        run: |
          bin/server

      - name: Test
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: praktikum
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          KAFKA: localhost:9092
          REDIS: localhost:6379
          DATABASE_URI: postgres://postgres:yourpassword@localhost:5432/praktikum?sslmode=disable
        run: |
          gophermarttest \
            -test.v -test.run=^TestGophermart$ \
            -gophermart-binary-path=bin/server \
            -gophermart-host=localhost \
            -gophermart-port=$(random unused-port) \
            -gophermart-database-uri=postgres://postgres:yourpassword@localhost:5432/praktikum?sslmode=disable \
            -accrual-binary-path=cmd/accrual/accrual_linux_amd64 \
            -accrual-host=localhost \
            -accrual-port=$(random unused-port) \
            -accrual-database-uri=postgres://postgres:yourpassword@localhost:5432/praktikum?sslmode=disable
